@model NobiShop.Models.DICHVU

@{
    ViewBag.Title = "DeTails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>CHI TIET DỊCH VỤ </h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Dịch Vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDV)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Sua", "Edit", new { id = Model.MaDV }) |
    @Html.ActionLink("Ve trang quan ly", "Index")
</p>
