@model NobiShop.Models.LOAI

@{
    ViewBag.Title = "DeTails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIET SAN PHAM</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại Chó
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiCho)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Sua", "Edit", new { id = Model.MaLoai }) |
    @Html.ActionLink("Ve trang quan ly", "Index")
</p>
