<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("GioHang","GioHang")" style="color:white; font-weight:bold; text-decoration:none">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Giỏ hàng<span class="badge">(@ViewBag.TongSoLuong)</span>
                </span>

            </a>
        </li>
        </ul>
</div>
